<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96650611748-c3n5b4k2j9rtfum98oafc1fkcgtpqb7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96650611748-c3n5b4k2j9rtfum98oafc1fkcgtpqb7q</string>
	<key>API_KEY</key>
	<string>AIzaSyC8mM5h7t89-ODCR5yok7RsyIu8a4RfcU4</string>
	<key>GCM_SENDER_ID</key>
	<string>96650611748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coloringBookapp</string>
	<key>PROJECT_ID</key>
	<string>coloringbooksapp</string>
	<key>STORAGE_BUCKET</key>
	<string>coloringbooksapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96650611748:ios:388249ad2100b98007dcb1</string>
</dict>
</plist>